<div class="todo-table-page">
  <div class="todo-table-page-search search">
    <input
      [(ngModel)]="search"
      (ngModelChange)="onSearch($event)"
      placeholder="Search..."
    >
    <button (click)="clearSearch()">Clear</button>
  </div>
  <div class="table">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Todo</th>
        <th>Completed</th>
        <th>User ID</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let todo of todos$ | async">
        <td>{{ todo.id }}</td>
        <td>{{ todo.todo }}</td>
        <td>{{ todo.completed }}</td>
        <td>{{ todo.userId }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>




