.back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;
  &-footer{
    display: flex;
    gap: 12px;
    justify-content: flex-end;
    .save-button{
      background-color: var(--light-warm-color);
      border-radius: 4px;
      font-weight: bold;
    }
  }
}
